TF_VAR_token=<gitlab PAT>
TF_VAR_insecure=<true|false>
TF_VAR_base_url=https://<gitlab server dns name>/api/v4/
TF_VAR_top_level_group_name="<gitlab group name>"
TF_VAR_top_level_group_path="<gitlab group path>"
TF_VAR_top_level_group_full_path="<gitlab group full path>"
TF_VAR_gitlab_users_group=<LDAP group>
TF_VAR_gitlab_bot_user_id=<bot user id>
TF_VAR_gitlab_bot_user_name="<bot user name>"
TF_VAR_gitlab_bot_user_username="<bot user userame>"
TF_VAR_gitlab_bot_user_email="<bot user email>"
